bin/
obj/
riderModule.iml
/_ReSharper.Caches/
logs/*.*
logs/
/.idea/
*.DotSettings
*.DotSettings.user
appsettings.local.json
internal-nlog.txt
node_modules
tailwind-output.css
/packages/
.DS_Store
cdk.out
cdk.context.json
internal-nlog-AspNetCore.txt
nlog.config
